<form class="d-flex flex-column" style="gap: 10px; width: 500px; margin: 50px auto;">
    <h1 class='align-self-center' style='color:deepskyblue'>SIGN UP</h1>
    <div class="">
        <label for="validationUserName" class="form-label">First name *</label>
        <input type="text" class="form-control" id="validationUserName" name='firstName' required>
    </div>
    <div class="">
        <label for="validationCustomEmail" class="form-label">Email *</label>
        <div class="input-group has-validation">
            <input type="email" name='email' class="form-control" id="validationCustomEmail"
                aria-describedby="inputGroupPrepend" placeholder="name@home.com">
        </div>
        <p id='errorEmail' style='color:red; display: none;'>Не верный формат данных</p>
    </div>
    <div class="">
        <label for="Password" class="form-label">Password *</label>
        <input type="password" class="form-control" id="Password" placeholder="Password" name='password' required>
    </div>
    <div class="">
        <label for="ConfirmPass" class="form-label"> Confirm Password *</label>
        <input type="password" class="form-control" id="ConfirmPass" placeholder="Password" name='Confirmpass' required>
        <p id='unequalPass' style='color:red; display: none;'>Пароли не совпадают</p>
    </div>
    <div class="align-self-center">
        <button class="btn rounded-pill " type="button" style=' background:deepskyblue; color:white;'
            onclick="sendForm()">Зарегистрироваться</button>
    </div>
    <p id='emptyInput' style='color:red; display: none;'>Все поля должны быть заполнены</p>
</form>

<script src='https://code.jquery.com/jquery-3.6.4.min.js'></script>
<script>

    function ValidateEmail(mail) {
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)) {
            return true
        }
        return false
    }

    function displayNoneForError() {
        document.getElementById('errorEmail').style.display = 'none';
        document.getElementById('unequalPass').style.display = 'none';
        document.getElementById('emptyInput').style.display = 'none';
    }


    function sendForm() {
        displayNoneForError();

        const data = new FormData($('form')[0]);
        const pass = data.get('password');
        const passConfirm = data.get('Confirmpass')
        const name = data.get('firstName');
        const email = data.get('email');

        if (email !== '' && name !== '') {
            if (!ValidateEmail(email)) {
                document.getElementById('errorEmail').style.display = 'block';
            } else {

                if (pass === passConfirm && pass !== '') {
                    data.delete('Confirmpass');
                    data.append('roles', 'user');

                    $.ajax({
                        url: '/users/api',
                        data: data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        method: 'POST',
                        success: function (res) {
                            alert('Регистрация прошла успешно!');
                            window.location.href = '/signin';
                        },
                        error: function (xhr, status, error) {
                            console.error(status, error, xhr);
                        }
                    })
                } else {
                    document.getElementById('unequalPass').style.display = 'block';
                }
            }
        } else {
            document.getElementById('emptyInput').style.display = 'block';
        }
    }
</script>