<form class='d-flex flex-column align-item-center border rounded border-success'
    style='width:500px; margin: 50px auto; gap: 10px; padding: 10px;'>
    <h1 class='align-self-center'>Sign in</h1>
    <p style='color: red; display: none;' id='error'> Неправильный логин или пароль</p>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name='username'>
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name='password'>
        <label for="floatingPassword">Password</label>
    </div>
    <div style='display:flex; justify-content:space-between'>
        <div style="border:none; cursor:pointer; background-color: white; color: cornflowerblue;"
            onclick="window.location.href =' signup/'">Sign up</div>
        <button type="button" class="btn btn-primary" onclick="sendForm()">Войти</button>
    </div>
</form>

<script src='https://code.jquery.com/jquery-3.6.4.min.js'></script>
<script>
    function sendForm() {
        var data = new FormData($('form')[0]);

        $.ajax({
            url: '/auth/login',
            data: $('form').serialize(),
            type: 'POST',
            success: function (res) {
                console.log(res.status)
                sessionStorage.setItem('access_token', res.access_token);
                sessionStorage.setItem('idUser', res.id);
                window.location.href = '/';
                // Получаем access_token из localStorage
                // const accessToken = sessionStorage.getItem('access_token');
                //sessionStorage.removeItem('username');
            },
            error: function (xhr, status, error) {
                // Обработка ошибки
                console.error(status, error);
                document.getElementById('error').style.display = 'block';
            }
        })
    }
</script>